<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
<div id="home-container">
  <section id="feed-posts">
    <h4>Post</h4>
    <% if(locals.user){ %>
    <form id="new-post-form" action="/posts/create-post" method="POST">
      <textarea
        name="content"
        cols="30"
        rows="3"
        placeholder="Type here...."
      ></textarea>
      <button type="submit">Post</button>
    </form>
    <% } %>
    <div id="posts-list">
      <ul>
        <% for(post of posts){ %> <%- include('_post') -%> <% } %>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users){ %>
    <p>
      <a href="/users/profile/<%=u.id %> "><%= u.name %> </a>
    </p>
    <% } %>
  </section>

  <%- include('_chat_box') -%>
</div>
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script src="<%= assetPath('js/toggle_friendships.js') %>"></script>
<script>
  $(".toggle_like_button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });

  $(".toggle-friend-button").each(function () {
    let self = this;
    let toggleFriend = new ToggleFriends(self);
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if(locals.user){ %>
  <script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
  </script>
<% } %>